---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="mx-0 my-8">
	<h2 class="mx-2 my-3 text-lg font-bold">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/yar2nman" target="_blank"
			>Twitter</HeaderLink
		>
		<HeaderLink href="https://github.com/yar2nman" target="_blank"
			>GitHub</HeaderLink>
		</nav>
</header>
<style></style>
